---
import { LINKS_TYPES } from "../types/types";
import Link from "./Link.astro";
---

<header>
  <div class="desktop">
    <Link resume={true} variant={LINKS_TYPES.PRIMARY}>Download resume</Link>
    <nav>
      <ul>
        <li>
          <Link url="#about" variant={LINKS_TYPES.SECONDARY} active={true}>
            Home
          </Link>
        </li>
        <li>
          <Link url="#skills" variant={LINKS_TYPES.SECONDARY}>Skills </Link>
        </li>
        <li>
          <Link url="#proyects" variant={LINKS_TYPES.SECONDARY}>Projects</Link>
        </li>
        <li>
          <Link url="#contact" variant={LINKS_TYPES.SECONDARY}>Contact</Link>
        </li>
        <li class="hidden">Menu</li>
      </ul>
    </nav>
  </div>

  <div class="mobile">
    <details>
      <summary> Menu </summary>
      <nav>
        <ul>
          <li></li>
          <li>
            <Link url="#about" variant={LINKS_TYPES.SECONDARY} active={true}
              >Home</Link
            >
          </li>
          <li>
            <Link url="#proyects" variant={LINKS_TYPES.SECONDARY}>Projects</Link
            >
          </li>
          <li>
            <Link url="#contact" variant={LINKS_TYPES.SECONDARY}>Contact</Link>
          </li>
          <li>
            <Link resume={true} variant={LINKS_TYPES.PRIMARY}>
              Download resume
            </Link>
          </li>
        </ul>
      </nav>
    </details>
  </div>
</header>

<style>
  header {
    position: fixed;
    padding: 16px 40px;
    width: 100%;
    background-color: #ffffffa9;

    & .desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & nav ul {
        list-style: none;
        display: flex;
        gap: 24px;
        margin: 0;
        padding: 0;

        & li {
          margin: 0;

          &.hidden {
            display: none;
          }
        }
      }
    }

    & .mobile {
      display: none;
    }

    @media (max-width: 390px) {
      & .desktop {
        display: none;
      }

      & .mobile {
        display: block;

        & details {
          color: var(--link-2-color);

          &:first-of-type summary::marker,
          :is(::-webkit-details-marker) {
            content: "☰";
            font-weight: bolder;
          }

          &[open]:first-of-type summary::marker {
            content: "✕";
          }

          & summary {
            font-weight: bold;
          }
        }

        & nav {
          height: max-content;

          & ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin: 0;
            padding: 0;

            & li {
              margin: 0;
            }
          }
        }
      }
    }
  }
</style>
