---
import ProyectCard from "./ProyectCard.astro";
import { getCollection } from "astro:content";

const proyects = (await getCollection("projects")).sort((a, b) => {
  const orderA = a.data.order ?? Number.MAX_SAFE_INTEGER;
  const orderB = b.data.order ?? Number.MAX_SAFE_INTEGER;
  return orderA - orderB;
});
---

<section class="proyects" id="proyects">
  <div class="header">
    <h2 class="h1">Case studies</h2>
  </div>
  <div class="content">
    {
      proyects.map(({ data, slug }) => (
        <ProyectCard
          title={data.title}
          subtitle={data.subtitle}
          imageSrc={data.image}
          linkUrl={data.link}
          slug={slug}
        />
      ))
    }
  </div>
</section>

<style>
  section.proyects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 824px;
    margin-left: 8vw;
    margin-top: 12vw;

    & div.header {
      width: 90vw;
      max-width: 824px;

      & h2.h1 {
        margin-bottom: 32px;
        margin: 0 20vm;
        font-size: clamp(24px, 5vw, 36px);
        color: var(--h1-color);
      }
    }

    & div.content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 56px;
      width: 90vw;
      max-width: 824px;
    }
  }
</style>
